
footer {
    background: white;
    position: static;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    padding: 20px 0;
    i{
        font-size: 40px;
        color: #4f4f4f;
    }
    .cont-title {
        font-size: 20px;
        font-weight: bold;
        line-height: 2.3;
    }
    .footer-contact {
        font-size: 18px;
        color: #4f4f4f;
    }
}